.headtitle {
  position: relative;
  top: 100px;
  background-image: url(../img/wallpaper2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  height: 100vh;
  width: 100%;
  text-align: center;
  color: #424242;
}

.headtitle h3:nth-child(1) {
  position: absolute;
  top: 5%;
  left: 10%;
}

.headtitle h3:nth-child(2) {
  position: absolute;
  top: 45%;
  left: 42.5%;
}

.headtitle h3:nth-child(3) {
  position: absolute;
  bottom: 10%;
  right: 10%;
}

@media screen and (max-width: 600px) {
  .headtitle h3:nth-child(1) {
    position: static;
    margin-top: 20%;
    margin-bottom: 45%;
    color: #e0e0e0;
  }

  .headtitle h3:nth-child(2) {
    position: static;
    margin-bottom: 45%;
    color: #e0e0e0;
  }

  .headtitle h3:nth-child(3) {
    position: static;
    color: #e0e0e0;
  }
}

main {
  text-align: center;
  padding: 10px;
}

.info {
  width: 80%;
  margin: 50px auto;
  display: grid;
}

.gallery {
  width: 80%;
  margin: 50px auto;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 2vh;
  grid-auto-flow: dense;
}

.gallery .image {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.gallery .image:first-child {
  grid-column-start: span 2;
  grid-row-start: span 2;
}

.gallery .image:nth-child(2n+1) {
  grid-row-start: span 2;
}

.gallery .image:nth-child(4n+6) {
  grid-column-start: span 2;
  grid-row-start: span 2;
}

.gallery .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 2px;
  filter: brightness(.5) grayscale(1);
  transition: .3s ease-in-out;
}

.gallery .image img:hover {
  filter: brightness(1) grayscale(0);
  transform: scale(1.1);
}

.video {
  text-align: center;
  width: 80%;
  margin: 50px auto;
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 2vh;
}

.video video {
  background-color: #000;
  border: 1px solid;
  width: 100%;
  height: 600px;
  margin: 0 auto;
}

@media only screen and (min-width: 480px) and (max-width: 770px) {
  .gallery {
    display: grid;
    grid-template-columns: auto auto auto;
  }

  .video {
    display: grid;
    grid-template-columns: auto;
  }
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  .gallery {
    display: grid;
    grid-template-columns: auto auto;
  }

  .video {
    display: grid;
    grid-template-columns: auto;
  }
}

@media only screen and (max-width: 320px) {
  .gallery {
    display: block;
    max-width: 240px;
  }

  .gallery .image {
    display: block;
    margin: 2% 0;
  }

  .gallery .image img {
    filter: brightness(1) grayscale(0);
  }
}
